#layout {
    --aside-width: max(10vw, 150px);
}

.menuIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.menuDialog {
    padding: 2rem;
    border-radius: 1rem;
}

.mobileAside {
    display: none;
    position: absolute;
    left: 5vw;
    top: 5vh;
    padding: 5px;
    background: #fff;
    border-radius: 100%;
    border: 1px solid grey;
}

@media (max-width: 768px) {
    #layout {
        --aside-width: 0;
    }

    aside {
        display: none;
    }

    .mobileAside {
        display: block;
    }
}

aside {
    width: var(--aside-width);
    border-right: 1px solid currentColor;
    padding: 10px;
}

#contentWrapper {
    max-width: calc(100vw - var(--aside-width));
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#content {
    overflow: scroll;
    max-height: calc(100vh - 4rem);
    min-height: 10vh;
    min-width: 40vw;
}
